@{
    ViewData["Title"] = "Consumo Agua";
}
<h1>@ViewData["Title"]</h1>


<div class="container" style="margin-top: 40px;">
    <label id="promedioagua" style="margin-bottom: 10px">El promedio de consumo de agua es @ViewData["promedioagua"] </label>
    <br />
    <label id="consumomayor" style="margin-bottom: 10px">Los clientes con mayor consumo fueron los de cedula @ViewData["consumomayor"]</label>
    <br />
    <label id="excesivoestrato" style="margin-bottom: 10px">El porcentaje de consumo excesivo por estrato fue @ViewData["excesivoestrato"]</label>
    <br />
    <label id="estratomasahorro" style="margin-bottom: 10px"> El estrato @ViewData["estratomasahorro"] fue el estrato que mas ahorro agua </label>
</div>

<form asp-action="aguaconsumo" method="post">
    <button type="submit" style="margin-top: 20px" ;>Agua</button>
</form>

